#zone-branding, #zone-header {
  width: 960px;
  margin: 0 auto;
}
#footer-first-contact.full-contact {
  #footer-branding {
    width:38%;
  }
  #footer-spacer {
    display:table-cell;
    width:2%;
  }
}
#footer-branding {
  margin-bottom: 0;
}