#content.both-sidebars, #content.left-sidebar, #content.right-sidebar {
  border: 0;
}

#sidebar-first .region {
  margin-right: 20px;
}

#sidebar-second .region {
  margin-left: 20px;
}

#preface-group.total-prefaces-1 .region-preface-first {
  .mbp-defaults-row {
    border: none;
    > div {
      margin: 0 10px;
    }
  }
  .mbp-defaults-row.views-row-first > div {
    margin: 0 10px 0 0;
  }
  .mbp-defaults-row.views-row-last > div {
    margin: 0 0 0 10px;
  }
  .mbp-defaults-row.views-row-first.views-row-last > div {
    margin: 0;
  }
}

#preface-group.total-prefaces-2 {
  .preface, .preface:first-child, .preface:last-child {
    border: none;
  }
  .preface:last-child > div {
    margin: 0 0 0 10px;
  }
  .preface:first-child > div {
    margin: 0 10px 0 0;
  }
}

#preface-group.total-prefaces-3 {
  .preface, .preface:first-child, .preface:last-child {
    border: none;
  }
  .preface > div {
    margin: 0 10px;
  }
  .preface:last-child > div {
    margin: 0 0 0 10px;
  }
  .preface:first-child > div {
    margin: 0 10px 0 0;
  }
}