/* line 1, ../scss/branded-960.scss */
#zone-branding, #zone-header {
  width: 960px;
  margin: 0 auto;
}

/* line 6, ../scss/branded-960.scss */
#footer-first-contact.full-contact #footer-branding {
  width: 38%;
}
/* line 9, ../scss/branded-960.scss */
#footer-first-contact.full-contact #footer-spacer {
  display: table-cell;
  width: 2%;
}

/* line 14, ../scss/branded-960.scss */
#footer-branding {
  margin-bottom: 0;
}
