/* line 1, ../scss/branded-600.scss */
#content.both-sidebars, #content.left-sidebar, #content.right-sidebar {
  border: 0;
}

/* line 5, ../scss/branded-600.scss */
#sidebar-first .region {
  margin-right: 20px;
}

/* line 9, ../scss/branded-600.scss */
#sidebar-second .region {
  margin-left: 20px;
}

/* line 14, ../scss/branded-600.scss */
#preface-group.total-prefaces-1 .region-preface-first .mbp-defaults-row {
  border: none;
}
/* line 16, ../scss/branded-600.scss */
#preface-group.total-prefaces-1 .region-preface-first .mbp-defaults-row > div {
  margin: 0 10px;
}
/* line 20, ../scss/branded-600.scss */
#preface-group.total-prefaces-1 .region-preface-first .mbp-defaults-row.views-row-first > div {
  margin: 0 10px 0 0;
}
/* line 23, ../scss/branded-600.scss */
#preface-group.total-prefaces-1 .region-preface-first .mbp-defaults-row.views-row-last > div {
  margin: 0 0 0 10px;
}
/* line 26, ../scss/branded-600.scss */
#preface-group.total-prefaces-1 .region-preface-first .mbp-defaults-row.views-row-first.views-row-last > div {
  margin: 0;
}

/* line 32, ../scss/branded-600.scss */
#preface-group.total-prefaces-2 .preface, #preface-group.total-prefaces-2 .preface:first-child, #preface-group.total-prefaces-2 .preface:last-child {
  border: none;
}
/* line 35, ../scss/branded-600.scss */
#preface-group.total-prefaces-2 .preface:last-child > div {
  margin: 0 0 0 10px;
}
/* line 38, ../scss/branded-600.scss */
#preface-group.total-prefaces-2 .preface:first-child > div {
  margin: 0 10px 0 0;
}

/* line 44, ../scss/branded-600.scss */
#preface-group.total-prefaces-3 .preface, #preface-group.total-prefaces-3 .preface:first-child, #preface-group.total-prefaces-3 .preface:last-child {
  border: none;
}
/* line 47, ../scss/branded-600.scss */
#preface-group.total-prefaces-3 .preface > div {
  margin: 0 10px;
}
/* line 50, ../scss/branded-600.scss */
#preface-group.total-prefaces-3 .preface:last-child > div {
  margin: 0 0 0 10px;
}
/* line 53, ../scss/branded-600.scss */
#preface-group.total-prefaces-3 .preface:first-child > div {
  margin: 0 10px 0 0;
}
