#zone-branding .silhouette,
#zone-branding .region-menu,
#region-branding,
#zone-header .region,
#breadcrumbs .breadcrumb-wrapper,
#messages,
#preface-group,
#postscript-group,
#content-wrapper,
#zone-footer .region,
#footer-first,
#footer-second,
#footer-first-contact {
  width: 960px;
  margin: 0 auto;
}

#zone-content {
  padding-bottom: 285px;
}

#footer-first-contact.full-contact {
  display: table;
}
#footer-first-contact.full-contact #footer-branding {
  width: 40%;
  display: table-cell;
}
#footer-first-contact.full-contact #footer-contact {
  width: 60%;
  display: table-cell;
  vertical-align: top;
}
